#passwordStrength {
	height: 8px;
	display: block;
	float: left;
}

.strength0 {
	margin-top:6px;
	padding: 5px;
	width: 60px;
	background: #ff0000;
	overflow-y: hidden;
}

.strength1 {
	margin-top:6px;
	padding: 5px;
	width: 60px;
	background: #8b0000;
		overflow-y: hidden;
}

.strength2 {
	margin-top:6px;
	padding: 5px;
	width: 60px;
	background: #ffff00;
	overflow-y: hidden;
}

.strength3 {
	margin-top:6px;
	padding: 5px;
	width: 60px;
	background: #228b22;
	overflow-y: hidden;
}

.strength4 {
	margin-top:6px;
	padding: 5px;
	background: #4dcd00;
	width: 60px;
	overflow-y: hidden;
}

.strength5 {
	margin-top:6px;
	padding: 5px;
	background: #399800;
	width: 60px;
	overflow-y: hidden;
}
.PwdBack {
	height: 18px;
	display: block;
	float: left;
	width:216px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #646464;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #646464;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #646464;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #646464;
    border-top-style: solid;
    border-top-width: 0px;
    margin-top:5px;
}
.PwdMeter {
    border-bottom-width: 0;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-width: 0;
    color: #646464;
    font-size: 11px;
    height:18px;
}