<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

</head>
<body>

<p>${userRP.email}，您好：</P>
<p>您申请了找回密码，请点击以下链接进行密码重置。 如果不能点击，请复制并粘贴以下链接到浏览器的地址输入框中，完成密码重置</p>


<p>${dns}/html/customer/?m=findPwdByEmail&checkSign=${userRP.checkSign}&email=${userRP.email}</p>


<p>为保障您账号的安全性，以上链接有效期为30分钟，并将在您点击一次后失效！</p>

---结行移动---</br>

</br>
</body>
</html>